{% load static %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'office/style.min.css' %}"/>





        
        <div align = "center">
             <h3> Login </h3>
            <form action = " {% url "office:login"  %} " method = "POST">
                {% csrf_token %}
                
                <input type = "text" name = "username" placeholder = "username"><br> <br>

                <input type = "password"  name = "password" placeholder = "password"><br>
                
                <input type = "submit" value = "Enter">

            </form>
        </div>

        <a href = "{% url "social:begin" "google-ouath2" %}">google+</a>

<h3 align = "center" style = " margin-left : 80px; ">
        {% if messages %}

            {% for message in messages %} 
                {{message}}
            {% endfor %}   


        {% endif %}
</h3>

