<html>

	{% load static %}
	{% comment %} <img src = "{% static "office/scotland-1761292__340.jpg" %}"> {% endcomment %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'office/style.css' %}"/>

	<header>
		<h2> Halogen Security Company </h2>
		<h4 style = "float : right; margin-bottom : 10px; margin:auto; padding: auto;" > {{staff.name}} </h4>

		<nav style = "margin-top: 100px;">
			<ul>
				<li><a href = " {% url "office:user_details" %} "> Home </a> </li>
				<li><a href = " {% url "office:my_info" %} "> My Info </a> </li>
				<li><a href=" {% url 'office:logout' %} ">Logout</a></li>
			</ul>
		</nav>

	</header>

	<body>
		

		{% if staff.status == "Yes" %}
			<h2 style = "text-align : center; margin-top:200px;"> You are eligible to go on leave  </h2>

		{% else %}
			<h4 style = "text-align : center; margin-top:200px;"> You are not eligible to go on leave </h4>
			<h4 style = "text-align : center; margin-top:30px;"> you will be eligible on {{date}} </h4>

		{% endif %}

	</body>

	 

</html>